.all-blog-container {
  padding: 20px;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  .blog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .title {
      font-size: large;
    }

    .blog-item {
      border: 1px solid #ccc;
      padding: 15px;
      width: calc(33.33% - 20px);
      box-sizing: border-box;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }

      h2 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #51CC62;
      }

      p {
        margin-bottom: 10px;
        color: #666;
      }

      .thumbnail-image {
        max-width: 100%; 
        height: auto; 
        margin-bottom: 10px;
        display: block;
        height: 300px;
      }

      .blog-actions {
        button {
          margin-right: 10px;
        }
      }
    }
  }

  .pagination-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .pagination {
      display: flex;
      list-style: none;

      .page-item {
        margin: 0 5px;
      }

      .page-link {
        padding: 5px 10px;
        border: 1px solid #ccc;
        cursor: pointer;
        color: #51CC62;

        &.active {
          background-color: #51CC62;
          color: #fff;
          border-color: #51CC62;
        }
      }
    }
  }

  // Modal Styles
  .modal {
    color: #333;

    .modal-header {
      background-color: #51CC62;
      color: #fff;
      border-bottom: none;
    }

    .modal-body {
      padding: 20px;

      h2 {
        font-size: 22px;
        margin-bottom: 10px;
        color: #333;
      }

      p {
        color: #666;
      }

      form {
        margin-top: 20px;

        label {
          font-weight: bold;
          color: #333;
        }

        input,
        textarea {
          width: 100%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }

        .upload-icon {
          margin-top: 10px;
        }

        button {
          padding: 10px 15px;
          background-color: #51CC62;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #0c851c;
          }
        }
      }
    }
  }
}
