// WalletManagement.scss
.wallet-management {
  padding: 20px;

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .search-form {
    display: flex;
    align-items: center;

    .search-button {
      margin-left: 10px;
      padding-top: 5px;
      background-color: green;
    }
  }

  .wallet-table {
    th {
      font-weight: bold;
      text-align: left;
    }

    td {
      vertical-align: middle;
      border: 1px solid #ddd;
      padding: 12px;
      font-size: 14px;

      button {
        background-color: #51cc62; // Your brand color
        color: #fff; // Text color
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #408d4d; // Hover color
        }
      }
    }
  }
  // Pagination.scss

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  button {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #51CC62;
    color: #fff;
    border: 1px solid #51CC62;
    cursor: pointer;

    &:disabled {
      background-color: #ddd;
      color: #666;
      border: 1px solid #ddd;
      cursor: not-allowed;
    }

    &:hover:enabled {
      background-color: #0bd626;
      border: 1px solid #0bd626;
    }
  }

  span {
    margin: 0 5px;
    font-weight: bold;
  }
}

}
