// WalletManagement.scss
.wallet-management {
  padding: 20px;

  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .search-form {
    display: flex;
    align-items: center;

    .search-button {
      margin-left: 10px;
      padding-top: 5px;
      background-color: green;
    }
  }

  .wallet-table {
    th {
      font-weight: bold;
      text-align: left;
    }

    td {
      vertical-align: middle;
      border: 1px solid #ddd;
      padding: 12px;
      font-size: 14px;
    }
  }
}
